@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

nav{
    background-color: #15133C;
    color: white;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    top: 0;
}

footer{
    background-color: #161616;
    color: white;
    font-size: 13px;
    font-weight: 200;
    padding: 15px;
    text-align: center;
}

a:link, a:visited{
    text-decoration: none;
}

.fade{
    transition: ease-in 0.25s;
}

.fade:hover{
    cursor: pointer;
    transition: ease-out 0.2s;
}

.info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 50px;
    width: 50px;
    background-image: url('../images/ar_logo_white.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.logo:hover{
    transform: scale(1.2,1.2);
    background-image: url('../images/ar_logo_blue.png');
}

.nav-links{
    width: 30%;
    justify-content: space-between;
}

.nav-links span:hover{
    color: #6da1ff;
    cursor: pointer;
    border-bottom: 1px solid;
}

.hidden-toggle, .responsive-toggle{
    display: flex;
}

.menu{
    display: none;
}

.vertical{
    flex-direction: column;
}

.page{
    min-height: 93vh;
    margin-top: 7vh;
    background-color: #efeeff;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-icon{
    height: 150px;
    width: 150px;
    background-image: url('../images/swe_logo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.home-info-name, .home-info-id{
    margin: 15px;
}

.home-info-name{
    font-size: 50px;
    font-weight: 600;
}

.home-info-id{
    font-size: 25px;
}

.button-containers{
    margin: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-button, .projects-button{
    color: white;
    padding: 12px 16px;
    font-size: 18px;
    border-radius: 6px;
}

.about-button{
    background-color: #37d19e;
}

.about-button:hover{
    background-color: #22a579;
}

.projects-button{
    background-color: #6A67CE;
    margin-left: 40px;
}

.projects-button:hover{
    background-color: #423eb1;
}

.contact-tagline{
    text-align: center;
}

.contact-tagline-1{
    font-size: 60px;
    font-weight: 600;
}

.contact-tagline-2{
    font-size: 30px;
    font-weight: 300;
    margin-top: 15px;
}

.contact-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;
}

.icon{
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon a{
    color: black;
}

.icon i{
    font-size: 50px;
    cursor: pointer;
}

.tooltip{
    display: none;
    margin-left: 20px;
    background-color: #3572e2;
    color: white;
    font-size: 15px;
    font-weight: 200;
    padding: 5px 7px;
    border-radius: 5px;
    position: relative;
}

.tooltip::before{
    content: "";
    height: 10px;
    width: 10px;
    display: block;
    position: absolute;
    background-color: #3572e2;
    top: 35%;
    transform: translateX(-110%) rotate(45deg);
}

.icon:hover .far, .icon:hover .fab{
    color: #3572e2;
}

.icon:hover .tooltip{
    display: block;
}

.projects-wrapper{
    margin: 60px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.project-box{
    height: 420px;
    width: 420px;
    border-radius: 15px;
    padding: 30px;
    background-color: #211944;
    color: white;
}

.project-name{
    font-size: 26px;
    font-weight: 600;
}

.project-description{
    font-size: 16px;
    margin-top: 14px;
}

.project-keywords{
    font-size: 14px;
    font-weight: 200;
    margin-top: 8px;
}

.project-links{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.github-link, .main-link{
    color: white;
    width: max-content;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
}

.github-link{
    background-color: #ce1754;
}

.main-link{
    background-color: #b03ec7;
    margin-top: 10px;
}

.github-link:hover{
    background-color: #b11146;
}

.main-link:hover{
    background-color: #88219c;
}

@media screen and (max-width: 900px){
    footer{
        font-size: 10px;
        padding: 12px;
    }

    .nav-links{
        flex-direction: column;
        position: absolute;
        top: 7vh;
        background-color: #15133C;
        align-items: center;
        width: 100%;
    }

    .nav-links span{
        padding: 20px;
    }

    .hidden-toggle{
        display: none;
    }

    .menu{
        display: inline;
    }

    .home-info, .info-container{
        flex-direction: column;
    }

    .home-icon{
        height: 80px;
        width: 80px;
    }

    .home-tagline{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home-info-name{
        font-size: 18px;
    }

    .home-info-id{
        font-size: 13px;
    }

    .button-containers{
        flex-direction: column;
    }

    .about-button, .projects-button{
        font-size: 11px;
        padding: 8px 12px;
    }

    .projects-button{
        margin-left: 0px;
        margin-top: 20px;
    }

    .contact-tagline{
        margin-right: 0px;
    }

    .contact-tagline-1{
        font-size: 22px;
    }
    
    .contact-tagline-2{
        font-size: 16px;
        margin-top: 8px;
    }

    .contact-links{
        margin-left: 0px;
        margin-top: 50px;
    }

    .icon{
        padding: 12px 6px;
    }

    .icon i{
        font-size: 28px;
    }

    .projects-wrapper{
        grid-template-columns: auto;
    }

    .project-box{
        height: 320px;
        width: 270px;
    }

    .project-name{
        font-size: 20px;
    }
    
    .project-description{
        font-size: 15px;
        margin-top: 8px;
    }
    
    .project-keywords{
        font-size: 10px;
        margin-top: 4px;
    }

    .github-link, .main-link{
        padding: 6px 10px;
        font-size: 11px;
    }
}